<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ICE Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ICE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ICEKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC4275461B32514F00CFC1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC42755E1B32514F00CFC1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4275781B32538600CFC1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4275821B32538600CFC1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC42759C1B32543A00CFC1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
