<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ICE Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ICE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ICEKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC4E83E31B1BC91000793C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F83751B1CB6AC00F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F837F1B1CB6AC00F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F83A01B1CB79300F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F83AA1B1CB79300F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F83C51B1CB7B700F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4F83CF1B1CB7B700F271AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB7EB0B1AC3374D006335EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB7EB231AC3374D006335EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
